@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    Download: <a href="/Files/Secret" id="secret_link">secret.zip</a> <br/>
    Какой пароль, чем ты думаешь?
</div>