<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net45" />
  <package id="Jint" version="2.4.0" targetFramework="net45" />
  <package id="Moq" version="4.2.1502.0911" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
</packages>